* {
  font-family: "Monsterrat", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

#particles-js canvas {
  display: block;
  vertical-align: bottom;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition: opacity 0.8s ease, -webkit-transform 1.4s ease;
  transition: opacity 0.8s ease, transform 1.4s ease;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://cdn.discordapp.com/attachments/1077727152511926383/1087850436318470305/trim.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
}

#particles-js {
  height: 100%;
  background: black;
  width: 100%;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
}

nav {
  overflow: hidden;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

button {
  background-image: linear-gradient(
    92.88deg,
    #455eb5 9.16%,
    #5643cc 43.89%,
    #673fd7 64.72%
  );
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 0.5em;
}

@media (min-width: 768px) {
  button {
    padding: 0 2.6rem;
  }
}

button:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: 0.1s;
}

h1 {
  color: white;
  font-size: 80px;
  margin-top: 6.5em;
}

.title {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
